<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email Verified</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">

</head>

<body>
  <header class="header">
    <img class="logo" src="/image/logo.png" alt="Logo" />
    <h1 class="brand-name">One Day One Plant</h1>
  </header>
  <main class="container">
    <h2 class="title">Email Verified</h2>
    <p class="text">
      Your email has been verified. You can now login to your account.
    </p>
    <a class="link" href="<%= link %>" role="button">go to onedayoneplant.net</a>
  </main>
</body>

</html>